<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{log-folder}\requests.log" />
			<appendToFile value="true" />
			<rollingStyle value="Once" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %level: %message | request #%property{request-number} %newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %level: %message | request #%property{request-number} %newline" />
			</layout>
		</appender>
		<appender name="FileAppenderTodos" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{log-folder}\todos.log" />
			<appendToFile value="true" />
			<rollingStyle value="Once" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %level: %message | request #%property{request-number} %newline" />
			</layout>
		</appender>
		<logger name="request-logger">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		<logger name="todo-logger">
			<level value="INFO" />
			<appender-ref ref="FileAppenderTodos" />
		</logger>
		<root>
			<level value="DEBUG" />
		</root>
	</log4net>
</configuration>
